<div class='container'>

    <div id="menu-secondary" class="menu-container menu-secondary" role="navigation">
        <button id="toggle-secondary-navigation" class="toggle-secondary-navigation"><i class="fas fa-plus"></i>
        </button>

        <div class="menu">

            <ul id="menu-secondary-items" class="menu-secondary-items">
                {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                        <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}"
                           title="{{ $name }} category">{{ $name }}</a>
                    </li>
                {{ end }}

            </ul>

        </div>

    </div>

    {{ partial "social-media.html" . }}
</div>
